h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, blockquote, details, hr, fieldset, pre, table {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 62px;
  font-size: 3.875rem;
  line-height: 1.17965;
}

h2 {
  font-size: 49px;
  font-size: 3.0625rem;
  line-height: 1.47456;
}

h3 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2288;
}

h4 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 0.768;
}
  
h5 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 0.96;
}

h6 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}
