.guide-overlay{
  width: 1000px;
  height: 1000px;
  display: none;
	background-image: 
	linear-gradient(180deg, transparent 94%, #b8222f 95%),
	linear-gradient(90deg, hsla(355, 87%, 61%, 0.34) 76.47%, transparent 76.47%);
	background-size: 1px 10px, 85px 1px;
  position: absolute;
  z-index: 1000;
}
.guide-overlay.show{display: block;}

.container.guide{
  
}
/* body.show-guide {
  min-height: 100vh;
  background-image: linear-gradient(180deg, transparent 93%, hsla(355, 87%, 61%, 0.7) 93%);
  background-size: 1px 10px;
}

body.show-guide .container {
  min-height: inherit;
  background-image: linear-gradient(90deg, hsla(355, 87%, 61%, 0.2) 76.4705%, transparent 76.4705%);
  background-size: 85px 1px;
} */

