/* Icons from directory "" */
.icon-icon_chevron_left,.icon-icon_chevron_left\:regular{background-image:url('icons/icon_chevron_left.png');background-repeat:no-repeat}
.icon-icon_chevron_left-dims{width:12px;height:20px}
.icon-icon_chevron_right,.icon-icon_chevron_right\:regular{background-image:url('icons/icon_chevron_right.png');background-repeat:no-repeat}
.icon-icon_chevron_right-dims{width:12px;height:20px}
.icon-icon_hamberg,.icon-icon_hamberg\:regular{background-image:url('icons/icon_hamberg.png');background-repeat:no-repeat}
.icon-icon_hamberg-dims{width:14px;height:10px}
.icon-icon_info,.icon-icon_info\:regular{background-image:url('icons/icon_info.png');background-repeat:no-repeat}
.icon-icon_info-dims{width:41px;height:44px}
.icon-icon_info_notice,.icon-icon_info_notice\:regular{background-image:url('icons/icon_info_notice.png');background-repeat:no-repeat}
.icon-icon_info_notice-dims{width:24px;height:19px}
.icon-icon_info_notice_on,.icon-icon_info_notice_on\:regular{background-image:url('icons/icon_info_notice_on.png');background-repeat:no-repeat}
.icon-icon_info_notice_on-dims{width:24px;height:19px}
.icon-icon_map,.icon-icon_map\:regular{background-image:url('icons/icon_map.png');background-repeat:no-repeat}
.icon-icon_map-dims{width:35px;height:35px}
.icon-icon_new_notice,.icon-icon_new_notice\:regular{background-image:url('icons/icon_new_notice.png');background-repeat:no-repeat}
.icon-icon_new_notice-dims{width:22px;height:19px}
.icon-icon_new_notice_on,.icon-icon_new_notice_on\:regular{background-image:url('icons/icon_new_notice_on.png');background-repeat:no-repeat}
.icon-icon_new_notice_on-dims{width:22px;height:19px}
.icon-icon_w_emoticon_0,.icon-icon_w_emoticon_0\:regular{background-image:url('icons/icon_w_emoticon_0.png');background-repeat:no-repeat}
.icon-icon_w_emoticon_0-dims{width:20px;height:20px}
.icon-icon_w_emoticon_1,.icon-icon_w_emoticon_1\:regular{background-image:url('icons/icon_w_emoticon_1.png');background-repeat:no-repeat}
.icon-icon_w_emoticon_1-dims{width:20px;height:20px}
.icon-icon_water,.icon-icon_water\:regular{background-image:url('icons/icon_water.png');background-repeat:no-repeat}
.icon-icon_water-dims{width:33px;height:39px}
.icon-logo,.icon-logo\:regular{background-image:url('icons/logo.png');background-repeat:no-repeat}
.icon-logo-dims{width:32px;height:32px}