/* Icons from directory "" */
.icon-icon_chevron_left,.icon-icon_chevron_left\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-icon_chevron_left-dims{width:12px;height:20px}
.icon-icon_chevron_right,.icon-icon_chevron_right\:regular{background-image:url('icons/icons.png');background-position:0 -20px;background-repeat:no-repeat}
.icon-icon_chevron_right-dims{width:12px;height:20px}
.icon-icon_hamberg,.icon-icon_hamberg\:regular{background-image:url('icons/icons.png');background-position:0 -40px;background-repeat:no-repeat}
.icon-icon_hamberg-dims{width:14px;height:10px}
.icon-icon_info,.icon-icon_info\:regular{background-image:url('icons/icons.png');background-position:0 -50px;background-repeat:no-repeat}
.icon-icon_info-dims{width:41px;height:44px}
.icon-icon_info_notice,.icon-icon_info_notice\:regular{background-image:url('icons/icons.png');background-position:0 -94px;background-repeat:no-repeat}
.icon-icon_info_notice-dims{width:24px;height:19px}
.icon-icon_info_notice_on,.icon-icon_info_notice_on\:regular{background-image:url('icons/icons.png');background-position:0 -113px;background-repeat:no-repeat}
.icon-icon_info_notice_on-dims{width:24px;height:19px}
.icon-icon_map,.icon-icon_map\:regular{background-image:url('icons/icons.png');background-position:0 -132px;background-repeat:no-repeat}
.icon-icon_map-dims{width:35px;height:35px}
.icon-icon_new_notice,.icon-icon_new_notice\:regular{background-image:url('icons/icons.png');background-position:0 -167px;background-repeat:no-repeat}
.icon-icon_new_notice-dims{width:22px;height:19px}
.icon-icon_new_notice_on,.icon-icon_new_notice_on\:regular{background-image:url('icons/icons.png');background-position:0 -186px;background-repeat:no-repeat}
.icon-icon_new_notice_on-dims{width:22px;height:19px}
.icon-icon_search,.icon-icon_search\:regular{background-image:url('icons/icons.png');background-position:0 -205px;background-repeat:no-repeat}
.icon-icon_search-dims{width:17px;height:18px}
.icon-icon_w_emoticon_0,.icon-icon_w_emoticon_0\:regular{background-image:url('icons/icons.png');background-position:0 -223px;background-repeat:no-repeat}
.icon-icon_w_emoticon_0-dims{width:20px;height:20px}
.icon-icon_w_emoticon_1,.icon-icon_w_emoticon_1\:regular{background-image:url('icons/icons.png');background-position:0 -243px;background-repeat:no-repeat}
.icon-icon_w_emoticon_1-dims{width:20px;height:20px}
.icon-icon_water,.icon-icon_water\:regular{background-image:url('icons/icons.png');background-position:0 -263px;background-repeat:no-repeat}
.icon-icon_water-dims{width:33px;height:39px}
.icon-logo,.icon-logo\:regular{background-image:url('icons/icons.png');background-position:0 -302px;background-repeat:no-repeat}
.icon-logo-dims{width:32px;height:32px}
.icon-logo_v_ps,.icon-logo_v_ps\:regular{background-image:url('icons/icons.png');background-position:0 -334px;background-repeat:no-repeat}
.icon-logo_v_ps-dims{width:193px;height:50px}