.icon_chevron_left, .icon_chevron_right, .icon_pause, .icon_info, .icon_more_notice{
	background: url(sprites.png) no-repeat;
}

.icon_chevron_left{
	background-position: 0 0;
	width: 12px;
	height: 20px;
}

.icon_chevron_right{
	background-position: -30px -1px ;
	width: 11px;
	height: 20px;
}

.icon_pause{
	background-position: -14px -1px ;
	width: 12px;
	height: 20px;
}

.icon_info{
	background-position: -66px 0;
	width: 41px;
	height: 44px;
}

.icon_more_notice{
	background-position: -42px 0;
	width: 22px;
	height: 22px;
}

